<div class="close">
  <button mat-icon-button [mat-dialog-close] color="warn"><mat-icon >close</mat-icon></button>
</div>
<br>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel expanded="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Producto
      </mat-panel-title>
      <mat-panel-description>
        Actualizar producto
        <mat-icon>shopping_cart</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form class="form" [formGroup]="form" (ngSubmit)="update(form.value)">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del producto</mat-label>
        <input matInput type="text" formControlName="nombre">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio">
      </mat-form-field>
      <button style="width: 100%; height: 45px" mat-flat-button type="submit" color="accent">Actualizar nuevo producto</button>
    </form>

  </mat-expansion-panel>
</mat-accordion>
