.spacer {
  flex: 1 1 auto;
}
.logo {
  font-size: 15px;
  margin-right: 20px;
  background: linear-gradient(90deg, #7F00FF 0%, #E100FF 100%);
  color: white;
  padding: 0 15px;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}
.wrapper {
  padding: 35px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 15px;
  }
  .logo {
    display: none;
  }
}
